<configuration>
    <appSettings>
        <add key="DB_HOST" value="CIMARRON_SRV"/>
        <add key="DB_INSTANCE" value="CONTPAQ"/>
        <add key="DB_DEFAULT_DATABASE" value="GRUAS"/>
        <add key="DB_USER" value="gruas"/>
        <add key="DB_PASSWORD" value="Gruas18"/>
    </appSettings>

    <system.webServer>
     <!-- indicates that the server.js file is a node.js application
        to be handled by the iisnode module -->
        <modules>
            <remove name="WebDAVModule" />
        </modules>
        <handlers>
            <add name="iisnode" path="app.js" verb="*" modules="iisnode" />
            <remove name="WebDAV" />
        </handlers>

        <rewrite>
            <rules>
                <rule name="sendToNode">
                    <match url="/*" />
                    <action type="Rewrite" url="app.js" />
                </rule>
            </rules>
        </rewrite>

        <security>
            <requestFiltering>
                <hiddenSegments>
                    <add segment="node_modules" />
                </hiddenSegments>
            </requestFiltering>
        </security>

        <httpProtocol>
            <customHeaders>
                <add name="Access-Control-Allow-Origin" value="*" />
                <add name="Access-Control-Allow-Methods" value="GET,PATCH,POST,DELETE,HEAD,PUT,OPTIONS" />
                <add name="Access-Control-Allow-Headers" value="Origin, Content-Type, Authorization" />
            </customHeaders>
        </httpProtocol>
    </system.webServer>
</configuration>